[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["."]
filterwarnings = [
    "ignore:Core Pydantic V1 functionality:UserWarning",
    "ignore:'_UnionGenericAlias' is deprecated:DeprecationWarning",
]
